<h3>Please select from variety of rums</h3>
<ul>
    <ng-container *ngFor="let rum of rums">
        <li class="rum">
            <img [src]="rum.image" [alt]="rum.name" width="100"/>
            <p class="title">{{rum.name | titlecase}}</p>
            <p class="currency">{{rum.price | currency:'INR'}}</p>
            <button  (click)="addToCart(rum)" class="cartButton">Add to Cart</button>
            <ng-container *ngIf="rum.isInCart">
                <p>Added to cart!</p>
            </ng-container>
        </li>
    </ng-container>
</ul>