ul {
    display: flex;
    flex-wrap: wrap;
}
.removeCartButton{
    background-color: red;
}
.checkOutButton{
    background-color: rgb(211, 224, 20);
}
img {
    float: left;
    width:  200px;
    height: 200px;
    object-fit: cover;
  }