<nav class="flex justify-between p-4 bg-purple-900 text-white">
  <div>
    <a class="mx-4" routerLink='/'>Liquor Mart</a> 
    <!-- <a class="mx-4" routerLink="/rest">Explore REST</a> -->
  </div>
  <!-- <div>
    <a class="mx-4" routerLink="/cart">My Cart</a>
    <a class="mx-4" routerLink="/login">Login</a>
    <a class="mx-4" routerLink="/register">Register</a>
  </div> -->
  <div>
    <!-- <a class="mx-4" routerLink="/cart">My Cart</a> -->
    <ng-container *ngIf="!isAuthenticated()">
        <a class="mx-4" routerLink="/login">Login</a>
        <a class="mx-4" routerLink="/register">Register</a>
    </ng-container>
    <ng-container *ngIf="isAuthenticated()">
      <div>{{getLoggedInUser()}}</div>
      <a class="mx-4" routerLink="/cart">My Cart</a>
      <button class="mx-4" (click)="logout()">Logout</button>
    </ng-container>
</div>
</nav>
<div class="p4">
  <router-outlet></router-outlet>
</div>